@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');
h1, h2{
  font-family: 'Expletus Sans';
}
.container{
  margin:auto;
    position: fixed;
    left: 0px;
    height : 400px;
    width: 500px;
    grid-column: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.5em));
    grid-auto-rows: 150px;
    grid-gap: 0.5em;
    max-width: 75%;

  }
.card{
    height: 150px;
    width: 100px;
    border: red dotted thin;
    border-radius: 1em;
    font-family: Consolas;
    text-align: center;
    font-size: 16pt;
  }
.subtext{
    font-size: 11pt;
  }
.small{
  font-size:8pt;
}
.card-box{
  position: fixed;
  border: thin dashed red;
  right: 0;
  max-width: 25%;
  height: 300px;
  flex-wrap: wrap;
}
.actions{
  margin:auto;
  position:fixed;
  bottom:0px;
  border:thin dashed red;
  z-index: 100;
}
.choice{
  margin:auto;
  position:fixed;
  bottom:0px;
  border:thin dashed red;
}
